// Start about us
.section.about-us#about-us.wow.fadeIn
	.container
		h2 about us
		.row
			div(class=aboutClass)
				img(src=imgDir + "about.jpg", alt="about", title="about")
			div(class=aboutClass)
				h3 my name is 
					b mohssine aboutaj
				p Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, te usu virtute placerat. Purto brute disputando cu est , te usu virtute placerat. Purto brute disputando cu est.
				p Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, te usu virtute placerat.
				.icons-container
					.row
						each iconName, iconHref in socialList
							a(href=iconHref, target="_blank", class="icons " + iconName)
								i(class="fa-fw fa-" + iconName)
// End about us