// Start footer
footer
	.container
		.row
			.col
				| Copyright &copy; 2018 
				b #{websiteAuthor}
				|  - MAF &trade; Inc.
			.col
				.row.justify-content-center
					each iconName, iconHref in allIcons
						a(href=iconHref, target="_blank", class="social-media")
							i(class="fa-fw fa-" + iconName)
// End footer

// Start scripts
each script in jsList
	script(src=jsDir + script)
// End scripts
