// Start header
header#home
	.overlay
		.container
			.full-centering
				div
					h1.cd-headline.letters.scale
						span i'm 
						span.cd-words-wrapper
							b.is-visible web-designer
							b web-developer
							b full-stack
					.text-center
						a.btn.btn-lg(href="#about-us")
							i.fab.fa-leanpub
							|   learn more
						a.btn.btn-lg(href="#contact-me")
							i.fas.fa-envelope
							|   hire us
// End header