// Start resume
.section.resume#resume.wow.fadeIn
	.container
		h2 my resume
		p Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est.
		a.btn.btn-lg(href="#")
			i.fas.fa-download
			|  download resume
// End resume