// Start my skills
.section#skills.skills.wow.fadeIn
	.container
		h2 skills
		.bottom-heading
			p Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, te usu virtute placerat. Purto brute disputando cu est.
			p Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, te usu virtute placerat.
		div
			.tech
				each icon in ["html5", "css3", "javascript", "jquery", "bootstrap", "fontawesome", "php", "mysql", "sass", "pug", "typescript", "ajax"]
					div
						.m-3
							img(src=brandsDir + '' + icon + '.png', alt=icon, class="w-100")
		.text-center
			a.btn.btn-lg.mt-3
				i.fas.fa-envelope
				| &nbsp;&nbsp; contact me
// End my skills