// Start testimonials
.section.testemonials#testemonials.wow.fadeIn
	h2 testemonials
	.container
		#testemonialsSlider
			each clientName in ["osama mohammad","mohammad essa","mohammad yahya"]
				.text-center
					p Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, Lorem ipsum dolor epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, Lorem ipsum dolor sit amet
					h3= clientName
// End testimonials