//- Start global variables to use on anywhere in this site

//- Start directories of js, css, img
-var layout = 'app/';

-var imgDir = layout + 'img/';

-var cssDir = layout + 'css/';

-var jsDir  = layout + 'js/';

-var brandsDir = imgDir + 'brands/';
//- End directories of js, css, img

//- Start mainColor & secondColor
-var mainColor = '#ffc600';

-var secondColor = '#2c3e50';
//- End mainColor & secondColor

//- Start website Title, author, description
-var websiteAuthor = "Mohssine Aboutaj";

-var websiteDescription = "This is the portfolio of "+ websiteAuthor +", and a great biography describing all the skills and services owned by developer "+ websiteAuthor +", using Html5, Css3, JavaScript, jQuery, Pug js, Sass, Gulp js, Bootstrap, Font Awesome, Animation, JavaScript libraries , Frameworks, Plugins ... to build this site and the content of this site is constantly updated";

-var websiteTitle = "KECH - Creative portfolio";

-var socialList = {"https://www.facebook.com/vive.mouhssine":"facebook-f fab","https://twitter.com/mohssineAboutaj":"twitter fab","https://www.linkedin.com/in/mohssine-aboutaj-90a874191/":"linkedin-in fab"};

-var allIcons = {"https://www.facebook.com/vive.mouhssine":"facebook-f fab","https://twitter.com/mohssin78060160":"twitter fab","https://linkedin.com/in/mohsssine-aboutaj-976a3a171":"linkedin-in fab","https://github.com/mohssineAboutaj":"github fab","https://codepen.io/mohssineAboutajWeb/":"codepen fab","https://mohssineaboutaj.000webhostapp.com/sites/kech/":"globe fas","https://mohssineaboutaj.github.io/":"globe fas"};

//-var allIcons = Object.assign(socialList, otherIcons);
//- End website Title, author, description

//- Start Css Classes
-var aboutClass = ['col-xs-12','col-md-6','mb-5'];

-var contactClass = ['col-xs-12', 'col-md-6', 'mb-5'];

-var eduClass = ['col-xs-12', 'col-md-6', 'mb-5'];

-var expClass = ['col-xs-12', 'col-md-6', 'mb-5'];

-var shuffleClass = ['wow','bounce','shuffle-item','mb-5','col-xs-12', 'col-sm-6', 'col-md-4', 'col-lg-3'];

-var servicesClass = ['col-xs-12', 'col-md-6', 'col-lg-3', 'mb-5'];

-var skillsClass = ['col-xs-12','col-md-6'];

-var subAboutClass = ['col-xs-12', 'col-md-4', 'mb-5'];
//- End Css Classes

//- Start Texts and Names
-var loremText = "Lorem ipsum dolor sit amet, ea doming until epicuri iudicabit nam, te usu virtute placerat. Purto brute disputando cu est, te usu virtute placerat. Purto brute disputando cu est.";
//- End Texts and Names

//- Start Css & JavaScript files list
-var cssList = ["font-awesome-all-v5.min.css", "animate.min.css", "bootstrap.min.css", "animatedHeadLine.css","slick.css","style.css"];

-var jsList = ["jquery-3.1.1.min.js", "popper.min.js", "bootstrap.min.js", "jquery.shuffleMAF.js", "wow.min.js", "jquery.nicescroll.min.js", "modernizr.js", "animatedHeadLine.js", "scrollTopMAF.js", "slick.min.js", "custom.js"];
//- End Css & JavaScript files list
